
@{
    ViewData["Title"] = "Dept Index Page";
}

<h1>Dept Index Page</h1>
<br/>


<h2>Dept Head</h2>
@Html.ActionLink("Requisition List", "DeptHeadRequisitionList", "Dept", null, null)
<br />


<h2>Employee</h2>
@Html.ActionLink("Requisition List", "EmployeeRequisitionList", "Dept", null, null)
<br />
@Html.ActionLink("Requisition Form", "EmployeeRequisitionForm", "Dept", null, null)
<br />