@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<form id="loginForm" action="Login/Login" method="POST">
    <table align="center">
        <tr>
            <td>Username:</td>
            <td>
                <input id="uname" name="username" value="@ViewData["username"]" />
            </td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input id="pwd" name="password" type="password" /></td>
        </tr>
        <tr>
            <td colspan="2" align="right">
                <input id="loginBtn" type="button" value="Login" />
            </td>
        </tr>
    </table>
    <input id="hashPwd" name="hashPasswd" type="hidden" />
</form>
<p><center style="color:red" >@TempData["error"]</center></p>
