@model IEnumerable<Ben_Project.Models.AdjustmentVoucher>

@{
    ViewData["Title"] = "Store Clerk Adjustment Voucher List";
}

@Html.ActionLink("Create", "StoreClerkAdjustmentVoucherDetail", "Store", null, null)
<div class="text-center">
    <h1 class="display-4">Store Clerk Adjustment Voucher List</h1>
</div>


<table align="center" border="1">
    <tr>
        <th>Adjustment Voucher Id</th>
    </tr>

    @foreach (var adjustmentVoucher in @Model)
    {
        <tr>
            <td>@Html.ActionLink(@adjustmentVoucher.Id.ToString(), "StoreClerkAdjustmentVoucherDetail", "Store", new { id = @adjustmentVoucher.Id }, null)</td>
        </tr>
    }
</table>